.search,
.search-result {
    width: 361px;
}

.search {
    height: var(--search-height);
    padding-left: 16px;
    border-radius: 92px;
    font-size: 1.6rem;
    background-color: rgba(22, 24, 35, 0.06);
    display: flex;
    border: 1.5px solid transparent;
    position: relative;
    caret-color: var(--primary);
    font-family: var(--font-family-proximanova);

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    color: rgb(166 167 171);
    padding-left: 8px;
    font-size: 14px;
}

.search-box {
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    font-size: 16px;
    font-family: var(--font-family-proximanova);
    padding-right: 40px;

    &:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}

.clear-btn,
.loading {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(166 167 171);
    margin-right: 8px;
}
.clear-btn {
    cursor: pointer;
}
.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    position: relative;
    width: 52px;
    border: none;
    color: rgb(166 167 171);
    font-size: 18px;
    padding: 11px 12px;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &::after {
        content: '';
        height: calc(var(--search-height) - 18px);
        width: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(215 215 217);
        margin: 9px 0;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
